.DS_Store
*.o
.deps/
.dirstamp
/autom4te.cache
/autoscan.log
/config.h
/config.log
/config.status
/configure.scan
/Makefile
/stamp-h1
/source/coh
/source/coh.dSYM
/source/Makefile
/source/*.dat
/omplib/Makefile
/omplib/libomp.a
/beoh/beoh
/beoh/beoh.dSYM
/beoh/Makefile
/beoh/*.dat
